main {
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	max-width: 1000px;
}

.button_container {
	text-align: center;
}

.button:disabled {
	background-color: #c4e6afad;
	color: #c7c7c7;
	border: none;
}

.button:hover:not([disabled]) {
	font-size: 30px;
	background-color: #95e466;
}

.button {
	margin: 65px 0;
	width: 300px;
	height: 50px;
	font-size: 25px;
	font-family: monospace;
	background-color: #8ad260;
	color: #040404;
	border: 1px solid #040404;

}

.mapa {
	display: grid;
	grid-template-columns: repeat(3, 200px);
	grid-template-rows: repeat(3, 200px);
	grid-gap: 0 0;
}

.cuadricula {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	background-image: url("./images/crus.png");
	background-repeat: repeat;
	background-position: center;
}

.selec {
	background-image: url("./images/crus_selec.png");
}

.termometros div {
	display: flex;
	align-items: center;
}

.bueno {
	content: url("./images/bueno.png");
	height: 60px;
	margin-left: 20px;
}

.neutro {
	content: url("./images/neutro.png");
	height: 60px;
	margin-left: 20px;
}

.malo {
	content: url("./images/malo.png");
	height: 60px;
	margin-left: 20px;
}

.termometros {
	text-align: center;
	font-size: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
